*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: url(Images/Img45.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 30px;
    font-weight: bold;
}
nav p{
    margin: 5px;
    color: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background:#3548f3;
    display: block;
    margin: auto;

}
.nav-links ul li:hover::after{
    width:100%;
}
.toggle{
    color: rgb(223, 207, 207);
    font-size: 25px;
    line-height: 50px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 60px;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 5px 0 20px;
    font-size: 20px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #365cf4;
    background: #3675f4;
    transition: 1s;
}
.name{
    font-size: 14px;
    text-align: center;
    padding: 2% 4%;
}
.contain{
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
.contain::after{
    content: '';
    width:0%;
    height: 2px;
    background:#3548f3;
    display: block;
    margin: auto;
}
.contain:hover::after{
    width:5%;
    cursor: pointer;
}
p{
    font-size: 20px;
    text-align: center;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: space-between;
    margin: 5%;
}
.col{
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #fff;
    padding: 30px 20px;
    
}
.card .card-body{
    font-size: 20px;
    padding: 5px;
}
.card img{
    max-width: 300px;   
}
.item{
    text-align: center;
    font-size: 12px;
    padding: 4px;
}
.item::after{
    content: '';
    width:0%;
    height: 2px;
    background:#3548f3;
    display: block;
    margin: auto;
}
.item:hover::after{
    width:5%;
    cursor: pointer;
}
.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
}
.card{
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #fff;
    padding: 3px 6px;
}
.card .card-body{
    font-size: 20px;
    padding: 5px;
}
.card img{
    max-width: 300px;   
}
/*About*/
.responsive{
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.detail{
    padding: 4px;
}
.detail::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #365cf4;
    display: block;
    margin: auto;
}
.detail:hover::after{
    width: 5%;
    cursor: pointer;
}
.content{
    padding: 2%;
    line-height: 1.5;
}
/*icons*/
.icons{
   display: flex;
   position: absolute;
   top:60%;
   left:50%;
   padding: 4%;
   transform: translate(-50%, 50%);
}
.icons a{
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    font-size: 25px;
    text-align: center;
    color: black;
    background-color: #fff;
    transition: 1.5s ease;
    line-height: 60px;
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.0.3);
}
.icons a:hover{
    color: #fff;
    transform: translate(0, -30px);
    box-shadow: 0 20px 8px rgba(0,0,0,0.7);
}
.icons a:nth-child(1):hover{
    background-color: #1da1f2;
}
.icons a:nth-child(2):hover{
    background-color: #ff8800;
}
.icons a:nth-child(3):hover{
    background-color: #0f0b070c;
}

/*Services*/
.container{
    text-align: center;
    font-size: 12px;
    padding: 5px;
    color: #fff;
    font-size: 25px;
}
.container::after{
    content: '';
    width:0%;
    height: 2px;
    background:#3548f3;
    display: block;
    margin: auto;
}
.container:hover::after{
    width:5%;
    cursor: pointer;
}
.feed{
  font-size: 35px;
  color: #fff;
  padding: 2% 6%;
}
.row{
    font-size: 40px;
}
.row i{
    color: #3548f3;
}
.col .card-body{
    font-size: 25px;
    padding:5%;
}
.col .card-title{
    padding: 3%;
}
.card{
    transition: 1.5s ease;
}
.card:hover{
    cursor: pointer;
    transform: translate(0, -20px);
}
.card-text{
    text-align: center;
     
}
/*Up Arrow*/
#upArrow {
      position: fixed;
      bottom: 20px;
      right: 10px;
      display: none;
      background-color: #007BFF;
      color: rgb(54, 46, 46);
      border: none;
      border-radius: 50%;
      padding: 15px;
      cursor: pointer;
      font-size: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    #upArrow:hover {
      background-color: #0056b3;
    }

/*footer*/
.footer{
	display:flex;
	justify-content:center;
	align-items:center;
	border-top:1px solid rgba(0,0,0,0.0.01);
}
.footer p{
	color:#5e5e5e;
	margin:15px 0px;
	font-size:16px;
}